/* Home section */
#home {
    height: 120vh;
    letter-spacing: 0.025rem;
}

.home__main-page {
    height: 840px;
    background-size: contain;
    background-position: center bottom 0px;
    background-image: url(../photos/hosting-company-01.png), linear-gradient(237deg, #46b3ff 0%, #0752fe 100%) !important;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.home__main-page .left-side,
.home__main-page .right-side {
    width: 50%;
    box-sizing: border-box;
    padding-top: 10%;
}

.home__main-page .left-side {
    float: left;
    padding-left: 8rem;
}

.home__main-page>.left-side>h1 {
    font-family: Rubik,
        Helvetica,
        Arial,
        Lucida,
        sans-serif;
    font-size: 3.5rem;
    color: #ffffff;
    font-weight: 500;
    font-style: normal;
    line-height: 3.875rem;
    margin-top: 5.4rem;
    margin-bottom: 0;
}

.home__main-page>.left-side>a>button {
    background-color: #263548;
    box-shadow: 0 1rem 1rem rgba(56, 84, 113, 0.3);
}

.home__main-page>.left-side>p {
    font-family: "Open Sans",
        Arial,
        sans-serif;
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: 500;
    font-style: normal;
    line-height: 2rem;
}

.home__main-page .right-side {
    float: right;
    padding-right: 8rem;
}

.home__main-page .right-side img {
    width: 100%;
    float: right;
    padding: 1rem;
    box-sizing: border-box;
}

/*pricing part */
.home__showing-price {
    width: 100%;
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
    padding: 0 8rem;
}

.home__showing-price .domains {
    margin-right: 3.5rem;
}

.home__showing-price h2,
.home__showing-price p {
    display: inline-block;
}

.home__showing-price h2 {
    font-family: Rubik,
        Helvetica,
        Arial,
        Lucida,
        sans-serif;
    font-size: 1.75rem;
    color: #000;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5rem;
}

.home__showing-price p {
    font-family: Rubik,
        Helvetica,
        Arial,
        Lucida,
        sans-serif;
    font-size: 0.875rem;
    color: var(--text-letter);
    font-weight: 500;
    font-style: normal;
    line-height: 1.5rem;
}

.home__showing-price h2::before {
    content: ".";
    font-family: Rubik,
        Helvetica,
        Arial,
        Lucida,
        sans-serif;
    font-size: 1.75rem;
    color: var(--blue-color);
    font-weight: 700;
    font-style: bold;
    line-height: 1.5rem;
}

/* End Home section */

/* Services section */
#services {
    width: 100%;
}

.services__main {
    width: 67%;
    box-sizing: border-box;
    float: left;
    padding: 6rem 4rem 3rem 8rem;
    background: linear-gradient(to bottom, #fff 25%, #f4f4f4 90%, #fff 100%);
}

.services__main .about-services {
    padding: 0 8rem;
}

.about-services h4 {
    font-family: Rubik,
        Helvetica,
        Arial,
        Lucida,
        sans-serif;
    font-size: 1rem;
    color: var(--oranged-letter);
    font-weight: 600;
    font-style: normal;
    line-height: 1.45rem;
}

.about-services p {
    font-family: Rubik,
        Helvetica,
        Arial,
        Lucida,
        sans-serif;
    font-size: 2.5rem;
    color: var(--title-letter);
    font-weight: 600;
    font-style: normal;
    line-height: 3.5rem;
    margin-top: -0.5rem;
}

.service-component {
    width: 340px;
    padding: 2.2rem;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.service-component img {
    width: 100px;
    height: 100px;
}

.service-component h3 {
    font-family: Rubik,
        Helvetica,
        Arial,
        Lucida,
        sans-serif;
    font-size: 1.6rem;
    color: var(--title-letter);
    font-weight: 600;
    font-style: normal;
    line-height: 2rem;
    padding: 0;
}

.service-component p {
    font-family: "Open Sans",
        Arial,
        sans-serif;
    font-size: 1rem;
    color: var(--text-letter);
    font-weight: 500;
    font-style: normal;
    line-height: 2rem;
    padding-top: 0;
}

.service-component>a>button {
    font-family: Rubik,
        Helvetica,
        Arial,
        Lucida,
        sans-serif;
    font-size: 1rem;
    color: var(--blue-color);
    font-weight: 600;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.08rem;
    padding: 0;
    border: none;
    background-color: #fff;
    padding: 1.2rem 0.5rem;
}

.service-component>a>i {
    margin-left: 0;
    padding-left: 0;
    color: var(--blue-color);
    font-size: 1rem;
}

.uptime-guarantee {
    padding-top: 180px;
    float: left;
}

.secure-backups {
    padding-top: 0;
    float: right;
}

.services__side-bar {
    width: 33%;
    box-sizing: border-box;
    float: right;
    padding-right: 8rem;
    padding: 6rem 8rem 3rem 0;
    background: linear-gradient(to bottom, #fff, #f4f4f4 90%, #fff 100%);
}

/* End Services section */

/* Features section */
#features {
    width: 100%;
}

.features__info {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 6rem 4rem 4rem 8rem;
}

.features__attachment {
    width: 50%;
    float: right;
    box-sizing: border-box;
    padding: 6rem 8rem 4rem 0;
}

.features__attachment img {
    width: 100%;
    height: auto;
}

/* End  Features section */

/* Services Items section */
#service-items {
    width: 100%;
    padding: 4rem 8rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33% - 2rem), 1fr));
    gap: 3rem;
}

.service-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-item img {
    width: 60px;
    height: 60px;
    margin-right: 1rem;
}

.service-item p {
    font-size: 1rem;
    padding-top: 0;
}

/* End Services Items section */

/* Pricing section */
#pricing {
    width: 100%;
    height: auto;
    padding: 8rem;
    box-sizing: border-box;
    background-size: contain;
    background-position: center bottom 0px;
    background-image: url(../photos/hosting-company-01.png), linear-gradient(180deg, #ffffff 0%, #eef9ff 100%) !important;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

#pricing h4,
#pricing h1 {
    text-align: center;
}

.pricing-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33% - 3rem), 1fr));
    gap: 4rem;
    margin: 5rem 0;
}

.pricing-item {
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 2rem;
}

.pricing-item h3 {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-left: 1.5rem;
}

.pricing-item p {
    position: relative;
}

.pricing-item .pricing-currency {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 0.5rem;
    font-family: "Open Sans",
        Arial,
        sans-serif;
    font-size: 1.2rem;
    color: #999;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6rem;
    padding-left: 1rem;
}

.pricing-item .pricing-amount {
    font-family: Rubik,
        Helvetica,
        Arial,
        Lucida,
        sans-serif;
    font-size: 3.2rem;
    color: #000;
    font-weight: 500;
    font-style: normal;
    line-height: 3.3rem;
    margin-left: 1.75rem;
}

.pricing-item .pricing-duration {
    font-family: "Open Sans",
        Arial,
        sans-serif;
    font-size: 1rem;
    color: #999;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5rem;
    padding-left: 0;
    margin-left: 0;
}

.pricing-item>ul>li {
    line-height: 1.75rem;
    padding: 1rem 0;
}

.pricing-item>a {
    text-decoration: none;
}

.pricing-item>a>button {
    padding: 1.2rem 1.6rem;
    box-shadow: none;
    margin: 1.4rem auto;
}

#pricing-item-1>a>button,
#pricing-item-1>ul>li::marker {
    color: var(--oranged-letter);
    /* Change bullet and button font color to orange */
}

#pricing-item-1>a>button {
    background-color: #fff4e6;
}

#pricing-item-2 h3,
#pricing-item-2>ul>li::marker {
    color: var(--blue-color);
}

#pricing-item-2>a>button {
    background-color: var(--blue-color);
    color: #fff;
    box-shadow: 0 1rem 1rem #dbe6fe;
}

#pricing-item-3 h3,
#pricing-item-3>a>button,
#pricing-item-3>ul>li::marker {
    color: var(--spring-green);
    /* Change bullet, tite and button font color to spring-green */
}

#pricing-item-3>a>button {
    background-color: #e9faf2;
}

#pricing-item-1>ul>li:nth-of-type(5),
#pricing-item-1>ul>li:last-of-type,
#pricing-item-2>ul>li:last-of-type {
    opacity: 0.5;
}

/* End Pricing section */

/* File management section */
#file-management {
    width: 100%;
    padding: 5rem 8rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#file-management .file-management__content {
    width: 50%;
    box-sizing: border-box;
}

#file-management .file-management__info {
    float: left;
    padding-right: 2rem;
}

.file-management__info .file-management__items {
    width: 100%;
    margin-top: 2.5rem;
}

.file-management__info .file-management__item {
    display: grid;
    grid-template-columns: 48px calc(100% - 48px);
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.file-management__item .image-container {
    width: 100%;
    min-width: 48px;
    height: 100%;
    float: left;
}

.file-management__item img {
    width: 48px;
    height: 48px;
}

.file-management__item article {
    width: 100%;
    margin: 0;
    padding: 0;
    float: right;
}

.file-management__item>article>h3 {
    font-family: Rubik,
        Helvetica,
        Arial,
        Lucida,
        sans-serif;
    font-size: 1.2rem;
    color: var(--title-letter);
    line-height: 1.6rem;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.file-management__item>article>p {
    margin: 0.5rem 0;
    padding: 0;
}

#file-management .file-management__attachment {
    float: right;
    padding: 2rem 0 0 2rem;
}

.file-management__attachment img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

/* End File management section */

/* Live chat section */
#live-chat {
    width: 100%;
    margin-bottom: 3rem;
}

.live-chat__container {
    padding: 12rem 20rem 0 20rem;
    text-align: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-size: contain;
    background-position: center top;
    background-image: url(../photos/hosting-company-02.png), linear-gradient(150deg, #ffba61 0%, #ffe46f 100%) !important;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    margin-bottom: -0.1rem;
}

.live-chat__container p {
    color: #ffffff;
}

.live-chat__container .button {
    background-color: #263548;
    box-shadow: 0.5rem 1rem 1rem rgba(136, 126, 72, 0.3);
    margin: 2rem auto 0 auto;
}

#live-chat img {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* End Live chat section */

/* Setting up section */
#setting-up {
    width: 100%;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
}

#setting-up div {
    width: 50%;
    height: max-content;
    box-sizing: border-box;
}

.setting-up__attachment {
    float: left;
    padding: 0 1.5rem 1rem 8rem;
}

.setting-up__attachment img {
    width: 100%;
}

.setting-up__info {
    float: right;
    padding: 0 8rem 1rem 1.25rem;
}

.setting-up__info ul {
    color: var(--title-letter);
    line-height: 3.5rem;
    list-style: none;
    padding-left: 0;
}

.setting-up__info>ul>li>i {
    font-size: 1.5rem;
    color: var(--oranged-letter);
    margin-right: 1rem;
}
/* End Setting-up section */

/* Customer Testimonials section */
#customer-testimonials {
    width: 100%;
    margin: 2rem auto;
    text-align: center;
    background: linear-gradient(to bottom, #fff, #f4f4f4 90%,
            #fff 100%);
}

#customer-testimonials h3,
#customer-testimonials h1 {
    width: 100%;
    margin: 0 auto;
}

#customer-testimonials h3 {
    padding-top: 6rem;
    padding-bottom: 1.20rem;
}

.customer-testimonials__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33% - 3rem), 1fr));
    gap: 3rem;
    padding: 6rem 8rem;
}

.customer-testimonial-content {
    padding: 2rem;
    background-color: #ffffff;
    background-image: url(../photos/hosting-company-04.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    border-radius: 2rem;
}

.customer-testimonial-content img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding-bottom: 0;
}

.customer-testimonial-content h5 {
    font-weight: 700;
    padding-bottom: 0;
    margin-bottom: -0.5rem;
}

.customer-testimonial-content p:last-of-type {
    padding-top: 0;
    margin-top: 0;
}
/* End Customer Testimonials section */

/* Guarantee section */
#guarantee {
    width: 100%;
    margin: 0 auto;
}

#guarantee>article>h1 {
    text-align: center;
    padding-top: 4.5rem;
}

.guarantee__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 3.5rem), 1fr));
    gap: 3.5rem;
    padding: 3rem 8rem;
}

.guarantee__container div {
    padding: 4rem;
    border-radius: 2rem;
    color: #ffffff;
}

.guarantee__container div h1 {
    font-family: Rubik,
        Helvetica,
        Arial,
        Lucida,
        sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    font-style: normal;
    line-height: 2rem;
    padding-top: 0;
    margin-top: 0;
}

.guarantee__container div p {
    color: #ffffff;
}

.guarantee__container div button {
    background-color: #263548;
    box-shadow: 0 1rem 1rem rgba(56, 84, 113, 0.3);
    margin-top: 2rem;
    margin-bottom: 0;
}

.guarantee-item-left {
    background-position: left bottom 0px;
    background-image: url(../photos/hosting-company-06.png), linear-gradient(237deg, #46b3ff 0%, #0752fe 100%);
    background-color: #7EBEC5;
    border-radius: 24px 24px 24px 24px;
    overflow: hidden;
}

.guarantee-item-right {
    background-position: left bottom 0px;
    background-image: url(../photos/hosting-company-07-1.png), linear-gradient(150deg, #ffba61 0%, #ffdc71 100%);
    background-color: #7EBEC5;
    border-radius: 24px 24px 24px 24px;
    overflow: hidden;
}

/* End Guarantee section */

/* Trial duration section */
#trial-duration {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0;
}

.trial-duration__container {
    text-align: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-size: contain;
    background-position: center top;
    background-image: url(../photos/hosting-company-11.png), linear-gradient(237deg, #46b3ff 0%, #0752fe 100%) !important;
    background-repeat: no-repeat;
    position: relative;
    padding: 12rem 20rem;
    margin-top: 4rem;
    margin-bottom: -1rem;
    z-index: 1;
}

.trial-duration__container p {
    color: #ffffff;
}

.trial-duration__container .button {
    background-color: #263548;
    box-shadow: 0 1rem 1rem rgba(56, 84, 113, 0.3);
    margin: 2rem auto auto auto;
}
/* End Trial duration section */

/* Footer section */
#footer {
    background-color: #171717;
    color: #676665;
    box-sizing: border-box;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 2rem), 1fr));
    gap: 2rem;
    padding: 0 8rem;
    margin: 0;
}

#footer p{
    font-size: 1rem;
}

#footer .span-bold{
    font-weight: bold;
}

footer .footer__social-medias {
    list-style: none;
    float: right;
}

.footer__social-medias .footer__social-media-item {
    display: inline-block;
    margin-right: 1rem;
}

.footer__social-media-item>a>i {
    color: #676665;
    font-size: 2rem;
}
/* End Footer section */