/* Global variables */
:root {
    --main-navigation-letter: #20292f;
    --sub-navigation-letter: #303031;
    --price-letter: rgba(0, 0, 0, 0.4);
    --title-letter: #333333;
    --text-letter: #666666;
    --oranged-letter: #ff8f00;
    --blue-color: #0752fe;
    --spring-green: #29cf8d;
    --navbar-height: 48px;
}

/* Core styles */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: Poppins,
        Helvetica,
        Arial,
        Lucida,
        sans-serif;
    letter-spacing: 0.04rem;
    margin: 0;
    padding-top: var(--navbar-height);
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem 2rem;
    background-color: #ffffff;
}

a {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

hr {
    width: calc(100% - 16rem);
    border: 0.1em solid #e3e3e399;
    box-sizing: border-box;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Rubik,
        Helvetica,
        Arial,
        Lucida,
        sans-serif;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    padding: 1.2rem 2.5rem;
    background-color: var(--blue-color);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 1.5rem 1.25rem #dce6fd;
}

* button:hover {
    cursor: pointer;
}

.uppercased {
    text-transform: uppercase;
}

.main-oranged-title {
    font-family: Rubik,
        Helvetica,
        Arial,
        Lucida,
        sans-serif;
    font-size: 1rem;
    color: var(--oranged-letter);
    font-weight: 600;
    font-style: normal;
    line-height: 1.45rem;
}

.big-white-title {
    font-family: Rubik,
        Helvetica,
        Arial,
        Lucida,
        sans-serif;
    font-size: 3.25rem;
    color: #ffffff;
    line-height: 3.875rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom: -0.7rem;
    padding-bottom: 0;
}

.sub-bigger-title {
    font-family: Rubik,
        Helvetica,
        Arial,
        Lucida,
        sans-serif;
    font-size: 2.5rem;
    color: var(--title-letter);
    font-weight: 600;
    font-style: normal;
    line-height: 3.5rem;
    margin-top: -0.5rem;
    margin-bottom: -0.25rem;
}

.text-open-sans {
    font-family: "Open Sans",
        Arial,
        sans-serif;
    font-size: 1.1rem;
    color: var(--text-letter);
    font-weight: 500;
    font-style: normal;
    line-height: 2rem;
}

.clearfix {
    clear: both;
}

/* Header section */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    border: none;
    z-index: 10;
}

.navbar {
    display: grid;
    grid-template-columns: 360px calc(100% - 360px);
    gap: 1rem;
    margin: 0;
    padding: 1.5rem;
    box-shadow: 0 1rem 1rem rgba(180, 188, 196, 0.3);
}

.right-nav .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.right-nav a {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.2rem;
    color: var(--sub-navigation-letter);
    font-weight: 500;
    letter-spacing: 0.075rem;
    text-decoration: none;
}

.right-nav>.nav-links>a:last-of-type {
    font-weight: 600;
    color: var(--main-navigation-letter);
    padding-right: 2rem;
}

.left-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.left-nav a {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--main-navigation-letter);
    font-weight: 600;
    text-decoration: none;
    margin-left: 0;
}

/* Responsive Design styles */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    height: 3px;
    width: 25px;
    background: white;
    margin: 4px 0;
    transition: transform 0.3s;
}

@media (max-width: 991px) {

    .container {
        margin: 0 0;
        padding: 1rem 1rem;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #333;
        width: 200px;
        border-radius: 5px;
        padding: 10px;
    }

    .nav-links.show {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}